
.timeline {
  display: grid;
  grid-template-columns: 190px 0 auto;
  margin-bottom: 40px;
  text-align: left;
}

.divider {
  grid-column: span 1;
  vertical-align: top;
  border-left: 2px solid #cfcfcf;
  position: relative;
}

.entryDot {
  position: absolute;
  top: 0px;
  left: -8px;
  width: 10px;
  height: 10px;
  border-radius: 7px;
  background-color: #cfcfcf;
  border: 2px solid white;
}

.description {
  padding: 0px 25px;
}

.descHeader {
  display: flex;
  flex-direction: column;
}

.descHeader > * {
  flex: 1;
}

.list {
  flex: 1;
}

.company {
  text-align: left;
  padding-bottom: 20px;
  padding-right: 15px;
}

.projects {
  padding: 0px !important;
}

.bullet {
  font-size: 10px !important;
  margin-right: 10px;
}

.rowDesc {
  width: 120px;
  min-width: 120px;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .timeline {
    grid-template-columns: none;

    .entryDot {
      display: none;
    }
  }

  .company {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .description {
    padding: 0px 0px;
  }

  .projects {
    width: unset;
    min-width: unset;
  }
}