
.timeline {
  display: grid;
  grid-template-columns: 190px 0 auto;
  margin-bottom: 40px;
  text-align: left;
}

.divider {
  grid-column: span 1;
  vertical-align: top;
  border-left: 2px solid #cfcfcf;
  position: relative;
}

.entryDot {
  position: absolute;
  top: 0px;
  left: -8px;
  width: 10px;
  height: 10px;
  border-radius: 7px;
  background-color: #cfcfcf;
  border: 2px solid white;
}

.description {
  padding: 0px 50px;
}

.descHeader {
  display: flex;
  justify-content: space-between;
}

.descHeader > * {
  flex: 1;
}

.list {
  flex: 1;
}

.company {
  text-align: center;
  padding-bottom: 20px;
}

.projects {
  width: 210px;
  min-width: 210px;
  padding: 0px !important;
}

@media (max-width: 767px) {
  .timeline {
    grid-template-columns: none;

    .entryDot {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .description {
    padding: 0px 0px;
  }

  .projects {
    width: unset;
    min-width: unset;
  }
}